USE [master]
GO
/****** Object:  Database [SensorData]    Script Date: 5/26/2024 4:40:17 PM ******/
CREATE DATABASE [SensorData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SensorData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SensorData.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SensorData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\SensorData_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SensorData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SensorData]
GO
/****** Object:  Table [dbo].[Sensor_Data]    Script Date: 5/26/2024 4:40:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor_Data](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[random_id] [int] NULL,
	[temperature] [float] NULL,
	[humidity] [float] NULL,
	[timestamp] [datetime] NULL,
 CONSTRAINT [PK_SensorData] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
